<!DOCTYPE html>
<html>
  <head>
    <title>系统</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body style="overflow-y:auto;">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">

          <!-- 标题栏开始-->
          <div>
            <%= render "layouts/title"%>
          </div>
          <!-- 标题栏结束-->
          <div class="row-fluid">

            <div class="span1">
            </div>

            <div class="span10">
              <!-- 轮播开始-->
              <%= yield(:lunbo)%>
              <!-- 轮播结束-->
              <div class="row-fluid">
                <div>
                  <%=render "layouts/notice"%>
                </div>
                <% if user_signed_in? %>
                  <%= yield(:titles)%>
                  <!-- 左边栏开始-->
                  <div class="span2">
                    <%= yield(:left)%>
                  </div>
                  <!-- 左边栏结束-->
                <%end%>

                <!-- 主内容开始-->
                <div class="span9">
                  <%= yield %>
                </div>
                <!-- 主内容结束-->
              </div>
            </div>

            <!-- 右边栏开始-->
            <div class="span1">
              <%#= yield(:right)%>
            </div>
            <!-- 右边栏结束-->

          </div>
        </div>
      </div>
    </div>
  </body>
</html>
